$color-priority: #777777;
$color-back: #F7F7F7;
$color-grey: #878787;
$color-light: #D5D5D5;
$color-white: #FFFFFF;
$color-hover-for-dark: #393246;
$color-active: #4A415A;
$color-hover-btn: #4A415A;
$color-active-btn: #63557C;
@media (max-width: 1225px) and (min-width: 1024px) {
  .header {
    .header__container {
      grid-template-columns: repeat(auto-fit, minmax(99px, 1fr));
      gap: 20px;
      .header__nav {
        grid-column: 3/7;
      }
      .header__wrap {
        grid-column: 7/9;
      }
    }
  }

  .hero__container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-top: 90px;
    height: 600px;
  }

  .team__container {
    .team__wrap {
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
    .team__box {
      max-width: 440px;
    }
  }
}

@media (max-width: 1023px) and (min-width: 728px) {
  .container {
    padding: 60px 45px;
  }
  .header {
    .header__container {
      position: relative;
      grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
      padding: 31px 45px 29px 45px;
      .header__logo {
        grid-column: 1/2;
        order: 1;
        z-index: 10;
      }
      .header__nav {
        position: absolute;
        top: -1000px;
        grid-column: auto;
        padding: 12px 27px;
        width: 100%;
        height: 600px;
        background: rgba(0, 0, 0, 0.96);
        transition: height .7s ease-in-out, background-color .7s ease-in-out, top .7s ease-in-out;
        .nav__list {
          display: grid;
          grid-auto-flow: row;
          position: absolute;
          top: -1000px;
          left: -100%;
          transition: top .7s ease-in-out, left .7s ease-in-out;
        }
        &.active {
          top: 0;
          .nav__list {
            top: 42%;
            left: 42%;
            text-align: center;
            z-index: 10;
            .nav__item {
              &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 19px;
              }
            }
          }
        }
      }
      .header__burger {
        display: block;
        justify-self: flex-end;
        grid-column: 6/7;
        order: 3;
        z-index: 10;
        .burger__span {
          display: block;
          width: 40px;
          height: 3px;
          background-color: $color-white;
          transition: transform .4s ease-in-out;
          &:not(:last-child) {
            margin-bottom: 7px;
          }
        }
        &.active {
          .menu1 {
            width: 26px;
            margin-bottom: 0;
            transform: rotate(-45deg) translate(-12px,-1px);
          }
          .menu2 {
            transform: scale(0);
          }
          .menu3 {
            width: 26px;
            margin-bottom: 0;
            transform: rotate(45deg) translate(-10px,3px);
          }
        }
      }
      .header__wrap {
        grid-column: 2/6;
        order: 2;
        z-index: 10;
      }
    }
  }
  .header.color-header {
    .header__container {
      .header__nav {
        &.active {
          .nav__list {
            .nav__link {
              color: $color-white;
            }
          }
        }
        
      }
      .header__burger {
        .burger__span {
          background-color: $color-priority;
        }
      }
    }
  } 
  

  .portfolio__container .portfolio__list {
    grid-template-columns: repeat(auto-fit, minmax(49px, 1fr));
  }
}