$color-priority: #777777;
$color-back: #F7F7F7;
$color-grey: #878787;
$color-light: #D5D5D5;
$color-white: #FFFFFF;
$color-hover-for-dark: #393246;
$color-active: #4A415A;
$color-hover-btn: #4A415A;
$color-active-btn: #63557C;

@media (max-width: 1225px) {
  .container {
    padding-left: 47px;
    padding-right: 47px;
  }

  .header {
    .header__container {
      grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
      gap: 20px;
      padding-left: 47px;
      padding-right: 47px;

      .header__nav {
        grid-column: 3/7;
      }

      .header__wrap {
        grid-column: 7/9;
      }
    }
  }

  .hero__container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-top: 90px;
    height: 600px;
  }

  .team__container {
    .team__wrap {
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }

    .team__box {
      max-width: 440px;
    }
  }

  .price-hero__container {
    .price-hero__wrap {
      .price-hero__list {
        width: 55%;
      }
    }
  }
  .price-dev {
    .price-dev__container {
      .price-dev__list {
        .price-dev__item {
          .price-dev__content {
            &.active {
              height: 500px;
              .dev-content__list {
                height: 500px;
              }
            }
          }
          .price-dev__btn {
            background-position: right 34% center;
          }
        }
      }
    }
  }

}

@media (max-width: 1023px) {
  .container {
    padding: 60px 45px;
  }

  .header {
    .header__container {
      position: relative;
      grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
      padding: 31px 45px 29px 45px;

      .header__logo {
        grid-column: 1/2;
        order: 1;
        z-index: 10;
        transition: display .4s ease-in-out, opacity .4s ease-in-out;
      }

      .header__nav {
        position: absolute;
        top: -1000px;
        left: 0;
        grid-column: auto;
        padding: 12px 27px;
        width: 100%;
        height: 600px;
        background: rgba(0, 0, 0, 0.96);
        transition: height .7s ease-in-out, background-color .7s ease-in-out, top .7s ease-in-out;

        .nav__list {
          display: grid;
          grid-auto-flow: row;
          position: absolute;
          top: -1000px;
          left: -100%;
          right: 0;
          visibility: hidden;
          text-align: center;
          transition: top .7s ease-in-out, left .7s ease-in-out, visibility .4s ease-in-out;

          .nav__item {
            &:not(:last-child) {
              margin-right: 0;
              margin-bottom: 19px;
            }
          }
        }

        &.active {
          top: 0;
          left: 0;

          .nav__list {
            top: 42%;
            left: 0;
            right: 0;
            text-align: center;
            visibility: visible;
            z-index: 10;

            .nav__link {
              &.focus-visible {
                border-color: $color-white;
              }
            }
          }
        }
      }

      .header__burger {
        position: relative;
        display: block;
        justify-self: flex-end;
        grid-column: 6/7;
        order: 3;
        z-index: 10;

        .burger__span {
          position: relative;
          display: block;
          width: 40px;
          height: 3px;
          background-color: $color-white;
          transition: transform .4s ease-in-out;

          &:not(:last-child) {
            margin-bottom: 7px;
          }

          transition: background-color .4s ease-in-out,
          transform .4s ease-in-out;

        }

        .menu3 {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: -26px;
            right: -4px;
            bottom: -5px;
            left: -4px;
            border: 1px solid transparent;
          }

          &.focus-visible {
            &::after {
              border-color: $color-back;
            }
          }
        }

        &.active {

          .menu1 {
            width: 26px;
            margin-bottom: 0;
            transform: rotate(-45deg) translate(-12px, -1px);
          }

          .menu2 {
            transform: scale(0);
          }

          .menu3 {
            width: 26px;
            margin-bottom: 0;
            transform: rotate(45deg) translate(-10px, 3px);
            z-index: 100;

            &.focus-visible {
              &::after {
                top: -16px;
                right: -2px;
                bottom: -15px;
                left: -2px;
                border-color: $color-white;
                z-index: 10;
                transform: rotate(45deg);
                z-index: 100;
              }
            }
          }
        }
      }

      .header__wrap {
        grid-column: 2/6;
        order: 2;
        z-index: 10;
      }
    }
  }

  .header.color-header {
    .header__burger {
      .burger__span {
        background-color: $color-priority;
        z-index: 100;
      }

      .menu3 {
        &.focus-visible {
          &::after {
            border-color: $color-hover-for-dark;
          }
        }
      }

    }
  }

  .header.color-header.active {
    .header__container {
      .header__logo {
        .header__logo-link {
          &:first-child {
            display: inline-block;
            opacity: 1;
          }
        }

        .logo-visible {
          display: none;
          opacity: 0;
        }
      }

      .header__nav {
        &.active {
          .nav__list {
            .nav__link {
              color: $color-white;
            }
          }
        }
      }

      .header__wrap {
        .header__phone-hero {
          color: $color-white;
          background-image: url('../images/icons/icon_phon.svg');

          &.focus-visible {
            border-color: $color-white;
          }
        }
      }

      .header__burger.active {

        .burger__span {
          background-color: $color-white;

          &.focus-visible {
            &::before {
              border-color: $color-white;
            }
          }
        }
      }
    }
  }

  .hero__container {
    .hero__title {
      grid-column: 1/7;
    }

    .hero__span {
      grid-column: 1/7;
    }
  }

  .team__container {
    padding-top: 70px;
    padding-bottom: 35px;

    .team__wrap {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      row-gap: 50px;

      .team__box {
        grid-column: 1/7;
        max-width: 100%;
      }
    }

    .team__img {
      grid-column: 1/7;
      grid-row: 2/3;
    }
  }



  .portfolio__container {
    padding-top: 35px;

    .portfolio__list {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));

      .item1 {
        grid-column: 1/4;
        grid-row: 1/3;
      }

      .item2 {
        grid-column: 4/7;
        grid-row: 1/2;
      }

      .item3 {
        grid-column: 4/7;
        grid-row: 2/3;
      }

      .item4 {
        grid-column: 1/4;
        grid-row: 3/4;
      }

      .item5 {
        grid-column: 4/7;
        grid-row: 3/4;
      }

      .item6 {
        grid-column: 1/7;
        grid-row: 5/7;
      }

      .item7 {
        grid-column: 1/7;
        grid-row: 4/5;
      }

      .item8 {
        grid-column: 1/4;
        grid-row: 7/8;
      }

      .item9 {
        grid-column: 4/7;
        grid-row: 7/8;
      }

      .item10 {
        grid-column: 1/7;
        grid-row: 8/9;
      }

      .item11 {
        grid-column: 1/4;
        grid-row: 9/11;
      }

      .item12 {
        grid-column: 4/7;
        grid-row: 9/10;
      }

      .item13 {
        grid-column: 4/7;
        grid-row: 10/11;
      }

      .item14 {
        grid-column: 1/4;
        grid-row: 11/12;
      }

      .item15 {
        grid-column: 4/7;
        grid-row: 11/12;
      }

      .item16 {
        grid-column: 1/7;
        grid-row: 13/15;
      }

      .item17 {
        grid-column: 1/7;
        grid-row: 12/13;
      }
    }
  }

  .portfolio__modal {
    .portfolio__modal-content {
      max-width: 600px;

      .menu__close {
        right: 4px;
        width: 30px;
      }

      .portfolio__modal-title {
        text-align: left;
      }

      .portfolio__modal-wrap {
        .portfolio__modal-input {
          max-width: 235px;
        }
      }
    }
  }

  .header.portfolio-header {
    .header__container {
      padding: 30px 45px;
      grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
      .header__wrap {
        grid-column: 3/4;
      }
      .header__burger {
        grid-column: 4/5;
        .burger__span {
          background-color: $color-hover-for-dark;
        }
      }
      .header__nav {
        grid-column: auto;
      }
    }
  }

  .price-hero__container {
    padding-top: 175px;
    .price-hero__title {
      margin-bottom: 70px;
    }
    .price-hero__wrap {
      display: unset;
      .price-hero__subtitle {
        margin-bottom: 30px;
        max-width: 100%;
      }
      .price-hero__list {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .price-dev {
    .price-dev__container {
      padding-bottom: 35px;
      .price-dev__title {
        margin-bottom: 30px;
      }
      .price-dev__list {
        flex-direction: column;
        .price-dev__item {
          max-width: 100%;
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .price-project__container {
    padding-top: 35px;
    padding-bottom: 100px;
    .price-project__swiper {
      margin-bottom: 100px;
      .swiper-wrapper {
        margin-bottom: 30px;
        .swiper-slide {
          .price-project__img {
            width: 100%;
            max-height: 324px;
            height: 324px;
          }
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 14px;
  }

  .header {
    .header__container {
      display: flex;
      justify-content: space-between;
      padding: 20px 15px;

      .header__nav.active {
        left: 0;
      }
    }
    &.color-header {
      .header__container {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .header__wrap {
    .header__phone-hero {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .header__logo-link {
    .header__logo-img {
      width: 30px;
      height: 30px;
    }
  }

  .hero__container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
    height: 480px;

    .hero__title {
      grid-column: 1/3;
      grid-row: 1/2;
      font-size: 60px;
      line-height: 70px;
    }

    .hero__span {
      grid-column: 1/3;
      grid-row: 2/3;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .portfolio__container {
    .portfolio__btns {
      column-gap: 20px;
      justify-content: unset;

      .btns-list__item {
        .btns-list__btn {
          font-size: 12px;
        }
      }
    }

    .portfolio__list {
      gap: 20px;
    }

  }
  .portfolio__application {
    .portfolio__btn-applic {
      padding: 5px 35px 6px 4px;
      font-size: 24px;
      line-height: 27px;
      background-position: right 9px top 5px;
      background-size: 20px;
    }
  }

  .portfolio__modal {
    .portfolio__modal-content {
      padding: 40px;
    }
  }

  .header.portfolio-header {
    .header__container {
      padding: 20px 15px;
    }
  }

  .price-hero__container {
    padding-top: 120px;
    .price-hero__title {
      margin-bottom: 50px;
      font-size: 30px;
      line-height: 36px;
    }
    .price-hero__wrap {
      .price-hero__subtitle {
        font-size: 20px;
        line-height: 24px;
      }
      .price-hero__list {
        .price-hero__item {
          .price-hero__item-title {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
  .price-dev {
    .price-dev__container {
      .price-dev__title {
        font-size: 20px;
        line-height: 25px;
      }
      .price-dev__list {
        .price-dev__item {
          .price-dev__visible {
            padding-top: 20px;
            padding-bottom: 20px;
          }
          .price-dev__content {
            .dev-content__list {
              padding: 20px;
            }
          }
        }
      }
    }
  }
  .price-project__container {
    .price-project__title {
      font-size: 20px;
      line-height: 25px;
    }
    .price-project__swiper {
      .swiper-wrapper {
        .swiper-slide {
          .price-project__img {
            height: 290px;
          }
        }
      }
    }
  }
  .portfolio__application {
    .portfolio__btn-applic {
      font-size: 30px;
      line-height: 32px;
    }
  }

}

@media (max-width: 570px) {


  .team__container {
    position: relative;
    padding-bottom: 290px;

    .team__title {
      margin-bottom: 23px;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.07em;
    }

    .team__wrap {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 10px;

      .team__box {
        grid-column: 1/3;

        .team__text {
          margin-bottom: 39px;
          font-size: 18px;
          line-height: 24px;
        }

        .team__list {
          .team__item {
            .team__btn {
              max-width: 236px;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }

      .team__img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        grid-column: 1/3;
        // min-width: calc(100% + 15px);
        width: 100%;
        max-height: 226px;
      }
    }
  }

  .portfolio__container {
    padding-top: 66px;

    .portfolio__title {
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 36px;
    }

    .portfolio__btns {
      grid-auto-flow: row;
      gap: 20px;
    }

    .portfolio__list {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 10px;

      .item1 {
        grid-column: 1/3;
        grid-row: 1/3;
      }

      .item2 {
        grid-column: 1/3;
        grid-row: 3/4;
      }

      .item3 {
        grid-column: 1/3;
        grid-row: 4/5;
      }

      .item4 {
        grid-column: 1/3;
        grid-row: 5/6;
      }

      .item5 {
        grid-column: 1/3;
        grid-row: 6/7;
      }

      .item6 {
        grid-column: 1/3;
        grid-row: 8/9;
      }

      .item7 {
        grid-column: 1/3;
        grid-row: 7/8;
      }

      .item8 {
        grid-column: 1/3;
        grid-row: 9/10;
      }

      .item9 {
        grid-column: 1/3;
        grid-row: 10/11;
      }

      .item10 {
        grid-column: 1/3;
        grid-row: 11/12;
      }

      .item11 {
        grid-column: 1/3;
        grid-row: 12/13;
      }

      .item12 {
        grid-column: 1/3;
        grid-row: 13/14;
      }

      .item13 {
        grid-column: 1/3;
        grid-row: 14/15;
      }

      .item14 {
        grid-column: 1/3;
        grid-row: 15/16;
      }

      .item15 {
        grid-column: 1/3;
        grid-row: 16/17;
      }

      .item16 {
        grid-column: 1/3;
        grid-row: 18/19;
      }

      .item17 {
        grid-column: 1/3;
        grid-row: 17/18;
      }
    }

    .portfolio__btn {
      margin-bottom: 70px;
      padding: 22px 51px 22px 54px;
    }
  }

  .portfolio__modal {
    .portfolio__modal-content {
      padding: 15px 13px 15px 15px;

      .menu__close {
        top: -30px;
        opacity: 1;
      }

      .portfolio__modal-title {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 25px;
      }

      .portfolio__modal-wrap {
        flex-direction: column;

        .portfolio__modal-input {
          max-width: 100%;

          &:first-child {
            margin-bottom: 40px;
          }
        }
      }

      .portfolio__modal-box {
        flex-direction: column;

        .portfolio__modal-btn {
          margin-right: 0;
          margin-bottom: 30px;
          background-position: right 83px center;
        }
      }
    }
  }
  .portfolio__application {
    .portfolio__btn-applic {
      padding: 5px 35px 6px 4px;
      font-size: 16px;
      line-height: 19px;
      background-position: right 2px top 0;
      background-size: 28px;
    }
  }
}