@font-face {
  font-family: 'Roboto_condensed';
  src: url('../fonts/roboto-condensed.light-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed.light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_condensed';
  src: url('../fonts/roboto-condensed.regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed.regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_condensed';
  src: url('../fonts/roboto-condensed.bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed.bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
    url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular_allfont.ru-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular_allfont.ru-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto_condensed', sans-serif;

  body {
    margin: 0 auto;
    overflow-y: auto;
  }
}

$color-priority: #777777;
$color-back: #F7F7F7;
$color-grey: #878787;
$color-light: #D5D5D5;
$color-white: #FFFFFF;
$color-hover-for-dark: #393246;
$color-active: #4A415A;
$color-active-btn: #63557C;


// шаблоны
%hoverOpacity {
  opacity: 0.7;
}

%transitionOpacity {
  transition: opacity .4s ease-in-out;
}

%transitionColor {
  transition: color .4s ease-in-out;
}

%transitionBorderBotom {
  transition: border-color .4s ease-in-out, color .4s ease-in-out;
}

%transitionBackColor {
  transition: background-color .4s ease-in-out;
}

%title {
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $color-priority;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-style: normal;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  padding: 60px 15px;
  margin: 0 auto;
  max-width: 1230px;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $color-hover-for-dark;
  border: 1px solid $color-hover-for-dark;
  background-color: $color-white;
  cursor: pointer;
  transition: background-color .4s ease-in-out, color .4s ease-in-out, border .4s ease-in-out;

  &:hover {
    color: $color-white;
    background-color: $color-hover-for-dark;
  }

  &:active {
    color: $color-white;
    background-color: $color-active;
  }

  &.focus-visible {
    color: $color-white;
    background-color: $color-hover-for-dark;
  }
}

.btn-color {
  color: $color-white;
  background-color: $color-hover-for-dark;

  &:hover,
  &.focus-visible {
    background-color: $color-active;
  }

  &:active {
    background-color: $color-active-btn;
  }
}

.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}

/* header  */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-bottom: 1px solid $color-grey;
  z-index: 3;

  &.color-header {
    border-bottom: 1px solid $color-light;
    background-color: $color-white;
  }

  .header__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    align-items: center;
    padding: 20px 15px;
    gap: 30px;

    .btn__scroll {
      display: none;
      padding: 6px;
      width: 30px;
      height: 30px;
      font-size: 20px;
      border: 1px solid $color-light;
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);
      background-image: url('../images/icons/btn_scroll.svg');
      background-position: center;
      background-repeat: no-repeat;
      text-decoration: none;
      z-index: 1000;

      &.focus-visible {
        border-color: $color-hover-for-dark;
        background-color: rgba(57, 50, 70, 0.5);
        ;
      }
    }

    .header__logo {
      grid-column: 1/3;

      .header__logo-link {
        display: inline-block;
        opacity: 1;
        transition: display .4s ease-in-out, opacity .4s ease-in-out;
      }

      .logo-visible {
        display: none;
        opacity: 0;
      }
    }

    .header__nav {
      grid-column: 3/6;
    }
  }
}

.header__burger {
  display: none;
}

.header__logo-link {
  .header__logo-img {
    width: 45px;
    height: 45px;
  }
}

.nav__list {
  display: flex;

  .nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .nav__link {
    grid-column: 1/2;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $color-white;
    border: 1px solid transparent;
    @extend %transitionBorderBotom;

    &:hover {
      border-bottom: 1px solid $color-white;
    }

    &.focus-visible {
      border-color: $color-white;
    }
  }
}

.header__wrap {
  grid-column: 6/9;
  text-align: end;

  .header__phone-hero {
    padding-left: 35px;
    height: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-white;
    border: 1px solid transparent;
    background-image: url('../images/icons/icon_phon.svg');
    background-position: left;
    background-repeat: no-repeat;
    @extend %transitionBorderBotom;
    transition: background-image .4s ease-in-out;

    &:hover {
      border-bottom: 1px solid $color-white;
      background-image: url('../images/icons/hover_phone_white.svg');
    }

    &.focus-visible {
      border-color: $color-white;
      background-image: url('../images/icons/hover_phone_white.svg');
    }
  }
}

.header.color-header {
  .header__container {
    padding: 20px 47px;
  }

  .header__logo {
    .header__logo-link {
      display: none;
      opacity: 0;
    }

    .logo-visible {
      display: inline-block;
      opacity: 1;
    }
  }

  .header__nav {
    .nav__list {
      .nav__link {
        color: $color-priority;

        &:hover {
          color: $color-hover-for-dark;
          border-bottom: 1px solid $color-hover-for-dark;
        }

        &.focus-visible {
          border-color: $color-hover-for-dark;
        }
      }
    }
  }

  .header__wrap {
    .header__phone-hero {
      color: $color-priority;
      background-image: url('../images/icons/icon_phon_dark.svg');
      transition: background-image .4s ease-in-out, color .4s ease-in-out;

      &:hover {
        color: $color-hover-for-dark;
        background-image: url('../images/icons/hover_icon_phon_dark.svg');
      }

      &.focus-visible {
        color: $color-hover-for-dark;
        border-color: $color-hover-for-dark;
        background-image: url('../images/icons/hover_icon_phon_dark.svg');
      }
    }
  }
}

// --------------------- main ---------------------

// -----------hero -----------
.hero {
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6) 100%, $color-white 50%), url('../images/hero/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(116px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  row-gap: 30px;
  height: 800px;

  .hero__title {
    grid-column: 3/9;
    grid-row: 2/3;
    align-self: flex-end;
    font-weight: 300;
    font-size: 140px;
    line-height: 164px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $color-white;
  }

  .hero__span {
    grid-column: 4/8;
    grid-row: 3/4;
    justify-self: center;
    max-width: 635px;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $color-white;
  }
}

// -----------team-------------
.team__container {
  padding-top: 150px;
  padding-bottom: 75px;

  .team__title {
    @extend %title;
  }

  .team__wrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 20px;
  }

  .team__box {
    grid-column: 1/3;
    max-width: 515px;

    .team__text {
      margin-bottom: 50px;
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      color: $color-priority;
    }

    .team__list {
      .team__item {
        position: relative;
        margin-top: -1px;
        padding: 25px 0;
        border-top: 1px solid transparent;
        border-bottom: 1px solid $color-light;

        &:first-child {
          border-top: 1px solid $color-light;
        }

        .team__btn {
          margin: 0;
          padding: 0;
          width: 100%;
          font-weight: 300;
          font-size: 20px;
          line-height: 27px;
          letter-spacing: 0.12em;
          text-transform: uppercase;
          color: $color-priority;
          border: none;
          background-color: $color-white;
          text-align: left;

          &.show {
            margin-bottom: 12px;

            &::after {
              transform: rotate(-90deg);
            }
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }

          &::after {
            content: '';
            position: absolute;
            top: 25px;
            right: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $color-light;
            background-image: url('../images/icons/left_right_down.svg');
            background-position: right 8px center;
            background-repeat: no-repeat;
            transition: border-color .4s ease-in-out, transform .4s ease-in-out;
          }

          &.focus-visible {
            color: $color-hover-for-dark;

            &::after {
              border-color: $color-hover-for-dark;
            }
          }
        }

        &:hover {
          cursor: pointer;

          .team__btn {
            color: $color-hover-for-dark;

            &::after {
              border-color: $color-hover-for-dark;
            }
          }
        }

        .team__content {
          .team__content-text {
            display: none;
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $color-priority;
          }
        }

        .team__content.show {
          .team__content-text {
            display: block;
          }
        }
      }
    }
  }

  .team__img {
    grid-column: 3/5;
    justify-self: flex-end;
    width: 100%;
  }
}

// -----------portfolio-----------
.portfolio__container {
  padding-top: 75px;
  padding-bottom: 130px;
  text-align: center;

  .portfolio__title {
    @extend %title;
    margin-bottom: 56px;
  }

  .portfolio__btns {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 40px;

    .btns-list__item {
      .btns-list__btn {
        padding: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $color-grey;
        background: none;
        border: 1px solid transparent;
        border-bottom: 1px solid $color-light;
        @extend %transitionBorderBotom;

        &:hover {
          border-bottom: 1.5px solid #000000;
        }

        &.focus-visible {
          border-color: $color-hover-for-dark;
        }
      }
    }
  }

  .portfolio__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(88px, 1fr));
    gap: 30px;
    margin-bottom: 40px;

    .portfolio__item {
      position: relative;
      cursor: pointer;
      .portfolio__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .portfolio__hover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0);
        @extend %transitionBackColor;

        .portfolio__hover-subtitle {
          display: block;
          margin-bottom: 10px;
          font-weight: 300;
          font-size: 20px;
          line-height: 27px;
          letter-spacing: 0.12em;
          text-transform: uppercase;
          color: $color-white;
          opacity: 0;
          @extend %transitionOpacity;
        }

        .portfolio__hover-info {
          display: inline-block;
          font-family: 'Roboto';
          font-weight: 300;
          font-size: 18px;
          line-height: 27px;
          color: $color-white;
          opacity: 0;
          @extend %transitionOpacity
        }
      }

      &:hover {
        .portfolio__hover {
          background-color: rgba(0, 0, 0, 0.6);

          .portfolio__hover-subtitle,
          .portfolio__hover-info {
            opacity: 1;
          }
        }
      }
    }

    .item1 {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    .item2 {
      grid-column: 3/5;
      grid-row: 1/2;
    }

    .item3 {
      grid-column: 5/7;
      grid-row: 1/2;
    }

    .item4 {
      grid-column: 7/9;
      grid-row: 1/2;
    }

    .item5 {
      grid-column: 3/5;
      grid-row: 2/3;
    }

    .item6 {
      grid-column: 5/9;
      grid-row: 2/4;
    }

    .item7 {
      grid-column: 1/5;
      grid-row: 3/4;
    }

    .item8 {
      grid-column: 1/3;
      grid-row: 4/5;
    }

    .item9 {
      grid-column: 3/5;
      grid-row: 4/5;
    }

    .item10 {
      grid-column: 5/9;
      grid-row: 4/5;
    }

    .item11 {
      grid-column: 1/3;
      grid-row: 5/7;
    }

    .item12 {
      grid-column: 3/5;
      grid-row: 5/6;
    }

    .item13 {
      grid-column: 5/7;
      grid-row: 5/6;
    }

    .item14 {
      grid-column: 7/9;
      grid-row: 5/6;
    }

    .item15 {
      grid-column: 3/5;
      grid-row: 6/7;
    }

    .item16 {
      grid-column: 5/9;
      grid-row: 6/8;
    }

    .item17 {
      grid-column: 1/5;
      grid-row: 7/8;
    }
  }

  .portfolio__btn {
    margin-bottom: 130px;
    padding: 22px 54px;
  }


}

.portfolio__application {
  .portfolio__btn-applic {
    padding-right: 34px;
    height: auto;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $color-priority;
    border: 1px solid transparent;
    border-bottom: 1px solid $color-light;
    background-image: url('../images/icons/arrow-up-right.svg');
    background-position: right 2px top 16px;
    background-repeat: no-repeat;
    transition: color .4s ease-in-out, background-image .4s ease-in-out, background-color .4s ease-in-out, border-bottom .4s ease-in-out, border .4s ease-in-out;

    &:hover {
      color: $color-hover-for-dark;
      border-bottom: 2px solid $color-hover-for-dark;
      background-color: $color-white;
      background-image: url('../images/icons/hover_arrow-up-right.svg');
    }

    &.focus-visible {
      color: $color-hover-for-dark;
      border: 2px solid $color-hover-for-dark;
      background-color: $color-white;
      background-image: url('../images/icons/hover_arrow-up-right.svg');
    }

  }

}

.portfolio__modal {
  position: absolute;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: scroll;
  background: rgba(0, 0, 0, .6);
  visibility: hidden;
  z-index: 1000;
  opacity: 0;
  transition: visibility .4s ease-in-out, left .4s ease-in-out, opacity .4s ease-in-out;

  .portfolio__modal-content {
    position: relative;
    margin: auto;
    padding: 50px;
    max-width: 800px;
    background: $color-white;

    .menu__close {
      position: absolute;
      top: -35px;
      right: 15px;
      width: 25px;
      height: 29px;
      opacity: 0.6;
      border: 1px solid transparent;
      cursor: pointer;
      @extend %transitionOpacity;

      &:hover {
        opacity: 1;
      }

      &.focus-visible {
        border-color: $color-back;
        opacity: 1;
      }

      .menu__close-span {
        display: inline-block;
        width: 20px;
        height: 2px;
        background-color: $color-white;
      }

      .close1 {
        transform: rotate(-45deg);
      }

      .close2 {
        transform: rotate(45deg) translate(-13px, -13px);
      }
    }

    .portfolio__modal-title {
      margin-bottom: 40px;
      font-weight: 300;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: $color-priority;
    }

    .portfolio__modal-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      .portfolio__modal-input {
        padding-bottom: 10px;
        border: 1px solid transparent;
        border-bottom: 1px solid $color-priority;
        max-width: 335px;
        width: 100%;

        &::placeholder {
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #ADADAD;
        }
      }
    }

    .portfolio__modal-box {
      display: flex;

      .portfolio__modal-btn {
        display: block;
        margin-right: 34px;
        padding: 22px 57px;
        padding-right: 83px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        background-image: url('../images/icons/white_arrow-up-right.svg');
        background-position: right 57px center;
        background-repeat: no-repeat;
      }

      .portfolio__modal-span,
      .portfolio__modal-link {
        align-self: center;
        max-width: 309px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: $color-grey;
        text-align: left;

        .portfolio__modal-link {
          color: $color-grey;
          border-bottom: 1px solid $color-grey;
          transition: border-color .4s ease-in-out, color .4s ease-in-out;

          &:hover,
          &.focus-visible {
            color: $color-hover-for-dark;
            border-color: $color-hover-for-dark;
          }
        }
      }
    }
  }
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: visibility .4s ease-in-out, left .4s ease-in-out, opacity .4s ease-in-out;
}


// ---------footer------------
.footer {
  background-color: $color-back;

  .footer__container {
    padding-top: 95px;
    padding-bottom: 94px;
    text-align: center;

    .footer__list {
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      margin-bottom: 30px;

      .footer__item {
        &:first-child {
          margin-right: 30px;
        }

        .footer__link {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          color: $color-priority;
          border: 1px solid transparent;
          @extend %transitionBorderBotom;

          &:hover {
            color: $color-hover-for-dark;
            border-bottom: 1px solid $color-hover-for-dark;
          }

          &.focus-visible {
            color: $color-hover-for-dark;
            border-color: $color-hover-for-dark;
          }
        }
      }
    }

    .footer__text {
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 13px;
      line-height: 15px;
      color: $color-grey;
    }
  }
}


//--------------------portfolio page
.nav__link.active {
  color: $color-hover-for-dark;
  border-bottom: 1px solid $color-hover-for-dark;
}

.header.portfolio-header {
  .header__container {
    padding: 30px 15px;

    .header__nav {
      grid-column: 3/7;
      justify-self: center;
    }

    .header__wrap {
      grid-column: 7/9;
    }
  }
}

.portfolio-hero {
  .portfolio__container {
    padding-top: 205px;
  }
}


//--------------------prices page

.price-hero__container {
  padding-top: 205px;
  padding-bottom: 75px;

  .price-hero__title {
    margin-bottom: 100px;
    text-align: center;
    @extend %title;
  }

  .price-hero__wrap {
    display: flex;
    justify-content: space-between;

    .price-hero__subtitle {
      max-width: 380px;
      font-weight: 300;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: $color-priority;
    }

    .price-hero__list {
      max-width: 700px;

      .price-hero__item {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -25px;
          width: 100%;
          height: 1px;
          background-color: $color-light;
        }

        .price-hero__item-title {
          display: block;
          margin-bottom: 12px;
          font-weight: 300;
          font-size: 20px;
          line-height: 27px;
          letter-spacing: 0.12em;
          text-transform: uppercase;
          color: $color-priority;
        }

        .price-hero__text {
          font-family: 'Roboto';
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          color: $color-priority;
        }

        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
    }
  }
}

.price-dev {
  .price-dev__container {
    padding-top: 75px;
    text-align: center;

    .price-dev__title {
      margin: 0 auto;
      margin-bottom: 50px;
      max-width: 400px;
      font-weight: 300;
      font-size: 30px;
      line-height: 45px;
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: $color-priority;
    }

    .price-dev__list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      .price-dev__item {
        max-width: 380px;
        width: 100%;
        height: 100%;

        &:not(:nth-child(2)) {
          padding-top: 8px;
        }

        .price-dev__visible {
          padding: 33px 15px 30px 15px;
          text-align: center;
          border: 1px solid $color-light;

          .price-dev__subtitle {
            margin-bottom: 15px;
            font-weight: 400;
            font-size: 30px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: $color-priority;
          }

          .price-dev__price {
            font-weight: 400;
            font-size: 25px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: $color-grey;
          }
        }

        .price-dev__content {
          visibility: hidden;
          height: 0;
          min-height: 0;
          transition: height .5s ease-in-out;

          .dev-content__list {
            padding: 30px;
            height: 0;
            opacity: 0;
            text-align: left;
            transition: opacity .6s linear, height .7s ease-in-out, visibility .7s ease-in-out;

            .dev-content__item {
              font-family: 'Roboto';
              font-weight: 300;
              font-size: 16px;
              line-height: 24px;
              color: $color-priority;

              &:not(:last-child) {
                margin-bottom: 15px;
              }
            }
          }

          &.active {
            visibility: visible;
            margin-top: -1px;
            height: 469px;
            border: 1px solid $color-light;

            &:nth-child(2) {
              margin-top: 0;
            }

            .dev-content__list {
              opacity: 1;
              height: 469px;
            }
          }
        }

        &:nth-child(2) {
          .price-dev__visible {
            margin: 0;
            padding-top: 22px;
            padding-bottom: 33px;
            border: 2px solid $color-hover-for-dark;

            .price-dev__legend {
              padding-left: 5px;
              padding-right: 5px;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              text-align: center;
              letter-spacing: 0.15em;
              text-transform: uppercase;
              color: $color-priority;
            }
          }
        }

        .price-dev__btn {
          padding: 22px 57px;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid $color-hover-for-dark;
          background-color: $color-white;
          background-image: url('../images/icons/arrow-up-right.svg');
          background-position: right 139px center;
          background-repeat: no-repeat;
          background-size: 16px;
          transition: color .4s ease-in-out, background-color .4s ease-in-out, background-image .4s ease-in-out;

          &:hover,
          &.focus-visible {
            color: $color-white;
            background-color: $color-hover-for-dark;
            background-image: url('../images/icons/white_arrow-up-right.svg');
          }

          &:active {
            color: $color-white;
            background-color: $color-active;
            background-image: url('../images/icons/white_arrow-up-right.svg');
          }
        }

        &:nth-child(2) {
          .price-dev__btn {
            color: $color-white;
            background-color: $color-hover-for-dark;
            background-image: url('../images/icons/white_arrow-up-right.svg');

            &:hover,
            &.focus-visible {
              background-color: $color-active;
            }

            &:active {
              background-color: $color-active-btn;
            }
          }
        }
      }
    }

    .price-dev__btn-more {
      position: relative;
      padding: 7px 40px 7px 0px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $color-priority;
      border: none;
      background: none;
      transition: color .4s ease-in-out, transform 0.4s ease-in-out;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $color-light;
        background-image: url('../images/icons/arrow_down_gray.svg');
        background-position: right 50% top 50%;
        background-repeat: no-repeat;
        background-size: 7px 15px;
        transition: border-color .4s ease-in-out;
      }

      &.active {
        color: $color-hover-for-dark;

        &::after {
          transform: rotate(180deg);
        }
      }

      &:hover,
      &.focus-visible {
        color: $color-hover-for-dark;

        &::after {
          border-color: $color-hover-for-dark;
        }
      }
    }

    .price-dev__btn-media {
      display: none;
      padding: 22px;
      width: 100%;
      border: 1px solid $color-hover-for-dark;
      &::after {
        top: 15px;
        right: 27%;
        left: 67%;
      }
    }
  }
}


.price-project__container {
  padding-top: 75px;
  padding-bottom: 130px;
  text-align: center;

  .price-project__title {
    @extend %title;
  }

  .price-project__swiper {
    margin-bottom: 130px;

    .swiper-wrapper {
      margin-bottom: 40px;

      .swiper-slide {
        .price-project__img {
          max-height: 270px;
        }

      }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      content: '';
    }

    .swiper-button-prev {
      top: 43%;
      left: 30px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: 1px solid $color-white;
      background-color: rgba(255, 255, 255, 0.05);
      background-image: url('../images/icons/arrow_right_white.svg');
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      backdrop-filter: blur(5px);
      transition: background-color .4s ease-in-out, background-color .4s ease-in-out;

      &:hover,
      &.focus-visible {
        background-color: rgba(255, 255, 255, 0.2);
        border: 2px solid $color-white;
      }
    }

    .swiper-button-next {
      top: 43%;
      right: 30px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: 1px solid $color-white;
      background-color: rgba(255, 255, 255, 0.05);
      background-image: url('../images/icons/arrow_right_white.svg');
      background-position: center;
      background-repeat: no-repeat;
      backdrop-filter: blur(5px);
      transition: background-image .4s ease-in-out, background-color .4s ease-in-out, border-width .4s linear;

      &:hover,
      &.focus-visible {
        background-color: rgba(255, 255, 255, 0.2);
        border: 2px solid $color-white;
      }
    }

    .swiper-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-pagination-bullet {
      margin: 0;
      width: 158px;
      height: 1px;
      border: none;
      border-radius: 0;
      background-color: $color-light;
      transition: height .4s ease-in-out, background-color .4s ease-in-out, border-width .4s linear;
    }

    .swiper-pagination-bullet-active {
      height: 3px;
      background-color: $color-hover-for-dark;
    }
  }
}

//------------page contacts
.contacts-hero__container {
  padding: 205px 15px 130px 15px;
  .contacts-hero__title {
    @extend %title;
    margin-bottom: 100px;
    text-align: center;
  }
  .contacts-hero__subtitle {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $color-priority;
  }
  .contacts-hero__wrap {
    display: flex;
    .contacts-hero__wrap-form {
      margin-right: 205px;
      max-width: 513px;
      .contacts-hero__text {
        margin-bottom: 27px;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: $color-priority;
      }
      .contacts-hero__form {
        display: flex;
        flex-direction: column;
        .contacts-hero__list {
          .contacts-hero__item {
            position: relative;
            margin-bottom: 40px;
            padding-top: 15px;
            &:last-child {
              margin-bottom: 44px;
            }
            .contacts-hero__label {
              position: absolute;
              top: 0;
              left: 0;
              font-family: 'Roboto';
              font-weight: 400;
              font-size: 13px;
              line-height: 15px;
              color: #ADADAD;
              opacity: 0;
              transition: opacity .4s ease-in-out;
            }
            
            .contacts-hero__input {
              padding: 5px;
              padding-left: 0px;
              width: 100%;
              border: 1px solid transparent;
              border-bottom: 1px solid $color-priority;
              opacity: 1;
              &.focus-visible {
                border-bottom: 2px solid $color-hover-for-dark;
              }
              &.focus-visible ~ .contacts-hero__label {
                opacity: 1;
              }
            }
          }
        }
        .contacts-hero__label-file {
          display: flex;
          margin-bottom: 30px;
          font-family: 'Roboto';
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: $color-priority;
          border: none;
          cursor: pointer;
          .contacts-hero__span {
            display: inline-block;
            margin-right: 10px;
          }
          .contacts-hero__input-add {
            display: none;
          }
        }
        
        .contacts-hero__send-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .contacts-hero__send-btn {
            margin-right: 30px;
            padding: 22px 57px;
            padding-right: 83px;
            height: auto;
            background-image: url('../images/icons/white_arrow-up-right.svg');
            background-position: right 57px center;
            background-repeat: no-repeat;
          }
          .contacts-hero__send-span {
            display: block;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: $color-grey;
            .contacts-hero__send-link {
              font-family: 'Roboto';
              font-weight: 400;
              font-size: 13px;
              line-height: 15px;
              text-decoration-line: underline;
              color: $color-hover-for-dark;
              transition: opacity .4s ease-in-out;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
    .contacts-hero__box {
      .contacts-hero__box-list {
        max-width: 241px;
        .contacts-hero__box-item {
          padding-left: 40px;
          background-position: left top;
          background-repeat: no-repeat;
          &:not(:last-child) {
            margin-bottom: 25px;
          }
          .contacts-hero__box-text {
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $color-priority;
          }
          .box-link {
            font-weight: 400;
            text-decoration-line: underline;
          }
        }
        .box-phone {
          background-image: url('../images/icons/icon_phon-contacts.svg');
        }
        .box-mail {
          background-image: url('../images/icons/Icon_mail.svg');
        }
        .box-time {
          background-image: url('../images//icons/Icon_clock.svg');
        }
        .box-address {
          background-image: url('../images/icons/icon_location.svg');
        }
      }
    }
  }
  
}