@font-face {
  font-family: 'Roboto_condensed';
  src: url("../fonts/roboto-condensed.light-webfont.woff2") format("woff2"), url("../fonts/roboto-condensed.light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_condensed';
  src: url("../fonts/roboto-condensed.regular-webfont.woff2") format("woff2"), url("../fonts/roboto-condensed.regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_condensed';
  src: url("../fonts/roboto-condensed.bold-webfont.woff2") format("woff2"), url("../fonts/roboto-condensed.bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular_allfont.ru-webfont.woff2") format("woff2"), url("../fonts/roboto-regular_allfont.ru-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto_condensed', sans-serif;
}

html body {
  margin: 0 auto;
  overflow-y: auto;
}

.portfolio__container .portfolio__list .portfolio__item .portfolio__hover .portfolio__hover-subtitle, .portfolio__container .portfolio__list .portfolio__item .portfolio__hover .portfolio__hover-info, .portfolio__modal .portfolio__modal-content .menu__close {
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.nav__list .nav__link, .header__wrap .header__phone-hero, .portfolio__container .portfolio__btns .btns-list__item .btns-list__btn, .footer .footer__container .footer__list .footer__item .footer__link {
  -webkit-transition: border-color .4s ease-in-out, color .4s ease-in-out;
  transition: border-color .4s ease-in-out, color .4s ease-in-out;
}

.portfolio__container .portfolio__list .portfolio__item .portfolio__hover {
  -webkit-transition: background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out;
}

.team__container .team__title, .portfolio__container .portfolio__title, .price-hero__container .price-hero__title, .price-project__container .price-project__title, .contacts-hero__container .contacts-hero__title {
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-style: normal;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  padding: 60px 15px;
  margin: 0 auto;
  max-width: 1230px;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #393246;
  border: 1px solid #393246;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out, border .4s ease-in-out;
  transition: background-color .4s ease-in-out, color .4s ease-in-out, border .4s ease-in-out;
}

.btn:hover {
  color: #FFFFFF;
  background-color: #393246;
}

.btn:active {
  color: #FFFFFF;
  background-color: #4A415A;
}

.btn.focus-visible {
  color: #FFFFFF;
  background-color: #393246;
}

.btn-color {
  color: #FFFFFF;
  background-color: #393246;
}

.btn-color:hover, .btn-color.focus-visible {
  background-color: #4A415A;
}

.btn-color:active {
  background-color: #63557C;
}

.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}

/* header  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-bottom: 1px solid #878787;
  z-index: 3;
}

.header.color-header {
  border-bottom: 1px solid #D5D5D5;
  background-color: #FFFFFF;
}

.header .header__container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: (minmax(115px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  gap: 30px;
}

.header .header__container .btn__scroll {
  display: none;
  padding: 6px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: 1px solid #D5D5D5;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-image: url("../images/icons/btn_scroll.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  z-index: 1000;
}

.header .header__container .btn__scroll.focus-visible {
  border-color: #393246;
  background-color: rgba(57, 50, 70, 0.5);
}

.header .header__container .header__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.header .header__container .header__logo .header__logo-link {
  display: inline-block;
  opacity: 1;
  -webkit-transition: display .4s ease-in-out, opacity .4s ease-in-out;
  transition: display .4s ease-in-out, opacity .4s ease-in-out;
}

.header .header__container .header__logo .logo-visible {
  display: none;
  opacity: 0;
}

.header .header__container .header__nav {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

.header__burger {
  display: none;
}

.header__logo-link .header__logo-img {
  width: 45px;
  height: 45px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__list .nav__link {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid transparent;
}

.nav__list .nav__link:hover {
  border-bottom: 1px solid #FFFFFF;
}

.nav__list .nav__link.focus-visible {
  border-color: #FFFFFF;
}

.header__wrap {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
  text-align: end;
}

.header__wrap .header__phone-hero {
  padding-left: 35px;
  height: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid transparent;
  background-image: url("../images/icons/icon_phon.svg");
  background-position: left;
  background-repeat: no-repeat;
  -webkit-transition: background-image .4s ease-in-out;
  transition: background-image .4s ease-in-out;
}

.header__wrap .header__phone-hero:hover {
  border-bottom: 1px solid #FFFFFF;
  background-image: url("../images/icons/hover_phone_white.svg");
}

.header__wrap .header__phone-hero.focus-visible {
  border-color: #FFFFFF;
  background-image: url("../images/icons/hover_phone_white.svg");
}

.header.color-header .header__container {
  padding: 20px 47px;
}

.header.color-header .header__logo .header__logo-link {
  display: none;
  opacity: 0;
}

.header.color-header .header__logo .logo-visible {
  display: inline-block;
  opacity: 1;
}

.header.color-header .header__nav .nav__list .nav__link {
  color: #777777;
}

.header.color-header .header__nav .nav__list .nav__link:hover {
  color: #393246;
  border-bottom: 1px solid #393246;
}

.header.color-header .header__nav .nav__list .nav__link.focus-visible {
  border-color: #393246;
}

.header.color-header .header__wrap .header__phone-hero {
  color: #777777;
  background-image: url("../images/icons/icon_phon_dark.svg");
  -webkit-transition: background-image .4s ease-in-out, color .4s ease-in-out;
  transition: background-image .4s ease-in-out, color .4s ease-in-out;
}

.header.color-header .header__wrap .header__phone-hero:hover {
  color: #393246;
  background-image: url("../images/icons/hover_icon_phon_dark.svg");
}

.header.color-header .header__wrap .header__phone-hero.focus-visible {
  color: #393246;
  border-color: #393246;
  background-image: url("../images/icons/hover_icon_phon_dark.svg");
}

.hero {
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6) 100%, #FFFFFF 50%), url("../images/hero/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (minmax(116px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(116px, 1fr));
  -ms-grid-rows: (minmax(120px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  row-gap: 30px;
  height: 800px;
}

.hero__container .hero__title {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 300;
  font-size: 140px;
  line-height: 164px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__container .hero__span {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 635px;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team__container {
  padding-top: 150px;
  padding-bottom: 75px;
}

.team__container .team__wrap {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.team__container .team__box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  max-width: 515px;
}

.team__container .team__box .team__text {
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #777777;
}

.team__container .team__box .team__list .team__item {
  position: relative;
  margin-top: -1px;
  padding: 25px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #D5D5D5;
}

.team__container .team__box .team__list .team__item:first-child {
  border-top: 1px solid #D5D5D5;
}

.team__container .team__box .team__list .team__item .team__btn {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #777777;
  border: none;
  background-color: #FFFFFF;
  text-align: left;
}

.team__container .team__box .team__list .team__item .team__btn.show {
  margin-bottom: 12px;
}

.team__container .team__box .team__list .team__item .team__btn.show::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.team__container .team__box .team__list .team__item .team__btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.team__container .team__box .team__list .team__item .team__btn::after {
  content: '';
  position: absolute;
  top: 25px;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #D5D5D5;
  background-image: url("../images/icons/left_right_down.svg");
  background-position: right 8px center;
  background-repeat: no-repeat;
  -webkit-transition: border-color .4s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: border-color .4s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: border-color .4s ease-in-out, transform .4s ease-in-out;
  transition: border-color .4s ease-in-out, transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.team__container .team__box .team__list .team__item .team__btn.focus-visible {
  color: #393246;
}

.team__container .team__box .team__list .team__item .team__btn.focus-visible::after {
  border-color: #393246;
}

.team__container .team__box .team__list .team__item:hover {
  cursor: pointer;
}

.team__container .team__box .team__list .team__item:hover .team__btn {
  color: #393246;
}

.team__container .team__box .team__list .team__item:hover .team__btn::after {
  border-color: #393246;
}

.team__container .team__box .team__list .team__item .team__content .team__content-text {
  display: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.team__container .team__box .team__list .team__item .team__content.show .team__content-text {
  display: block;
}

.team__container .team__img {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  justify-self: flex-end;
  width: 100%;
}

.portfolio__container {
  padding-top: 75px;
  padding-bottom: 130px;
  text-align: center;
}

.portfolio__container .portfolio__title {
  margin-bottom: 56px;
}

.portfolio__container .portfolio__btns {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 40px;
}

.portfolio__container .portfolio__btns .btns-list__item .btns-list__btn {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #878787;
  background: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #D5D5D5;
}

.portfolio__container .portfolio__btns .btns-list__item .btns-list__btn:hover {
  border-bottom: 1.5px solid #000000;
}

.portfolio__container .portfolio__btns .btns-list__item .btns-list__btn.focus-visible {
  border-color: #393246;
}

.portfolio__container .portfolio__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  -ms-grid-rows: (minmax(88px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(88px, 1fr));
  gap: 30px;
  margin-bottom: 40px;
}

.portfolio__container .portfolio__list .portfolio__item {
  position: relative;
}

.portfolio__container .portfolio__list .portfolio__item .portfolio__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__container .portfolio__list .portfolio__item .portfolio__hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

.portfolio__container .portfolio__list .portfolio__item .portfolio__hover .portfolio__hover-subtitle {
  display: block;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0;
}

.portfolio__container .portfolio__list .portfolio__item .portfolio__hover .portfolio__hover-info {
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0;
}

.portfolio__container .portfolio__list .portfolio__item:hover .portfolio__hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.portfolio__container .portfolio__list .portfolio__item:hover .portfolio__hover .portfolio__hover-subtitle,
.portfolio__container .portfolio__list .portfolio__item:hover .portfolio__hover .portfolio__hover-info {
  opacity: 1;
}

.portfolio__container .portfolio__list .item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.portfolio__container .portfolio__list .item2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.portfolio__container .portfolio__list .item3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.portfolio__container .portfolio__list .item4 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.portfolio__container .portfolio__list .item5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.portfolio__container .portfolio__list .item6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.portfolio__container .portfolio__list .item7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.portfolio__container .portfolio__list .item8 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.portfolio__container .portfolio__list .item9 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.portfolio__container .portfolio__list .item10 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.portfolio__container .portfolio__list .item11 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}

.portfolio__container .portfolio__list .item12 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.portfolio__container .portfolio__list .item13 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.portfolio__container .portfolio__list .item14 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.portfolio__container .portfolio__list .item15 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.portfolio__container .portfolio__list .item16 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
}

.portfolio__container .portfolio__list .item17 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.portfolio__container .portfolio__btn {
  margin-bottom: 130px;
  padding: 22px 54px;
}

.portfolio__application .portfolio__btn-applic {
  padding-right: 34px;
  height: auto;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
  border: 1px solid transparent;
  border-bottom: 1px solid #D5D5D5;
  background-image: url("../images/icons/arrow-up-right.svg");
  background-position: right 2px top 16px;
  background-repeat: no-repeat;
  -webkit-transition: color .4s ease-in-out, background-image .4s ease-in-out, background-color .4s ease-in-out, border-bottom .4s ease-in-out, border .4s ease-in-out;
  transition: color .4s ease-in-out, background-image .4s ease-in-out, background-color .4s ease-in-out, border-bottom .4s ease-in-out, border .4s ease-in-out;
}

.portfolio__application .portfolio__btn-applic:hover {
  color: #393246;
  border-bottom: 2px solid #393246;
  background-color: #FFFFFF;
  background-image: url("../images/icons/hover_arrow-up-right.svg");
}

.portfolio__application .portfolio__btn-applic.focus-visible {
  color: #393246;
  border: 2px solid #393246;
  background-color: #FFFFFF;
  background-image: url("../images/icons/hover_arrow-up-right.svg");
}

.portfolio__modal {
  position: absolute;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: visibility .4s ease-in-out, left .4s ease-in-out, opacity .4s ease-in-out;
  transition: visibility .4s ease-in-out, left .4s ease-in-out, opacity .4s ease-in-out;
}

.portfolio__modal .portfolio__modal-content {
  position: relative;
  margin: auto;
  padding: 50px;
  max-width: 800px;
  background: #FFFFFF;
}

.portfolio__modal .portfolio__modal-content .menu__close {
  position: absolute;
  top: -35px;
  right: 15px;
  width: 25px;
  height: 29px;
  opacity: 0.6;
  border: 1px solid transparent;
  cursor: pointer;
}

.portfolio__modal .portfolio__modal-content .menu__close:hover {
  opacity: 1;
}

.portfolio__modal .portfolio__modal-content .menu__close.focus-visible {
  border-color: #F7F7F7;
  opacity: 1;
}

.portfolio__modal .portfolio__modal-content .menu__close .menu__close-span {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
}

.portfolio__modal .portfolio__modal-content .menu__close .close1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.portfolio__modal .portfolio__modal-content .menu__close .close2 {
  -webkit-transform: rotate(45deg) translate(-13px, -13px);
          transform: rotate(45deg) translate(-13px, -13px);
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-title {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-wrap .portfolio__modal-input {
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid #777777;
  max-width: 335px;
  width: 100%;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-wrap .portfolio__modal-input::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ADADAD;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-wrap .portfolio__modal-input:-ms-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ADADAD;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-wrap .portfolio__modal-input::-ms-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ADADAD;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-wrap .portfolio__modal-input::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ADADAD;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-box .portfolio__modal-btn {
  display: block;
  margin-right: 34px;
  padding: 22px 57px;
  padding-right: 83px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background-image: url("../images/icons/white_arrow-up-right.svg");
  background-position: right 57px center;
  background-repeat: no-repeat;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-box .portfolio__modal-span,
.portfolio__modal .portfolio__modal-content .portfolio__modal-box .portfolio__modal-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 309px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #878787;
  text-align: left;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-box .portfolio__modal-span .portfolio__modal-link,
.portfolio__modal .portfolio__modal-content .portfolio__modal-box .portfolio__modal-link .portfolio__modal-link {
  color: #878787;
  border-bottom: 1px solid #878787;
  -webkit-transition: border-color .4s ease-in-out, color .4s ease-in-out;
  transition: border-color .4s ease-in-out, color .4s ease-in-out;
}

.portfolio__modal .portfolio__modal-content .portfolio__modal-box .portfolio__modal-span .portfolio__modal-link:hover, .portfolio__modal .portfolio__modal-content .portfolio__modal-box .portfolio__modal-span .portfolio__modal-link.focus-visible,
.portfolio__modal .portfolio__modal-content .portfolio__modal-box .portfolio__modal-link .portfolio__modal-link:hover,
.portfolio__modal .portfolio__modal-content .portfolio__modal-box .portfolio__modal-link .portfolio__modal-link.focus-visible {
  color: #393246;
  border-color: #393246;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility .4s ease-in-out, left .4s ease-in-out, opacity .4s ease-in-out;
  transition: visibility .4s ease-in-out, left .4s ease-in-out, opacity .4s ease-in-out;
}

.footer {
  background-color: #F7F7F7;
}

.footer .footer__container {
  padding-top: 95px;
  padding-bottom: 94px;
  text-align: center;
}

.footer .footer__container .footer__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.footer .footer__container .footer__list .footer__item:first-child {
  margin-right: 30px;
}

.footer .footer__container .footer__list .footer__item .footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #777777;
  border: 1px solid transparent;
}

.footer .footer__container .footer__list .footer__item .footer__link:hover {
  color: #393246;
  border-bottom: 1px solid #393246;
}

.footer .footer__container .footer__list .footer__item .footer__link.focus-visible {
  color: #393246;
  border-color: #393246;
}

.footer .footer__container .footer__text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #878787;
}

.nav__link.active {
  color: #393246;
  border-bottom: 1px solid #393246;
}

.header.portfolio-header .header__container {
  padding: 30px 15px;
}

.header.portfolio-header .header__container .header__nav {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header.portfolio-header .header__container .header__wrap {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
}

.portfolio-hero .portfolio__container {
  padding-top: 205px;
}

.price-hero__container {
  padding-top: 205px;
  padding-bottom: 75px;
}

.price-hero__container .price-hero__title {
  margin-bottom: 100px;
  text-align: center;
}

.price-hero__container .price-hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-hero__container .price-hero__wrap .price-hero__subtitle {
  max-width: 380px;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
}

.price-hero__container .price-hero__wrap .price-hero__list {
  max-width: 700px;
}

.price-hero__container .price-hero__wrap .price-hero__list .price-hero__item {
  position: relative;
}

.price-hero__container .price-hero__wrap .price-hero__list .price-hero__item::after {
  content: '';
  position: absolute;
  bottom: -25px;
  width: 100%;
  height: 1px;
  background-color: #D5D5D5;
}

.price-hero__container .price-hero__wrap .price-hero__list .price-hero__item .price-hero__item-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #777777;
}

.price-hero__container .price-hero__wrap .price-hero__list .price-hero__item .price-hero__text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.price-hero__container .price-hero__wrap .price-hero__list .price-hero__item:not(:last-child) {
  margin-bottom: 50px;
}

.price-dev .price-dev__container {
  padding-top: 75px;
  text-align: center;
}

.price-dev .price-dev__container .price-dev__title {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 400px;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
}

.price-dev .price-dev__container .price-dev__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item {
  max-width: 380px;
  width: 100%;
  height: 100%;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item:not(:nth-child(2)) {
  padding-top: 8px;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__visible {
  padding: 33px 15px 30px 15px;
  text-align: center;
  border: 1px solid #D5D5D5;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__visible .price-dev__subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__visible .price-dev__price {
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #878787;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__content {
  visibility: hidden;
  height: 0;
  min-height: 0;
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__content .dev-content__list {
  padding: 30px;
  height: 0;
  opacity: 0;
  text-align: left;
  -webkit-transition: opacity .6s linear, height .7s ease-in-out, visibility .7s ease-in-out;
  transition: opacity .6s linear, height .7s ease-in-out, visibility .7s ease-in-out;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__content .dev-content__list .dev-content__item {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__content .dev-content__list .dev-content__item:not(:last-child) {
  margin-bottom: 15px;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__content.active {
  visibility: visible;
  margin-top: -1px;
  height: 469px;
  border: 1px solid #D5D5D5;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__content.active:nth-child(2) {
  margin-top: 0;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__content.active .dev-content__list {
  opacity: 1;
  height: 469px;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item:nth-child(2) .price-dev__visible {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 33px;
  border: 2px solid #393246;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item:nth-child(2) .price-dev__visible .price-dev__legend {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #777777;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__btn {
  padding: 22px 57px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #393246;
  background-color: #FFFFFF;
  background-image: url("../images/icons/arrow-up-right.svg");
  background-position: right 139px center;
  background-repeat: no-repeat;
  background-size: 16px;
  -webkit-transition: color .4s ease-in-out, background-color .4s ease-in-out, background-image .4s ease-in-out;
  transition: color .4s ease-in-out, background-color .4s ease-in-out, background-image .4s ease-in-out;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__btn:hover, .price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__btn.focus-visible {
  color: #FFFFFF;
  background-color: #393246;
  background-image: url("../images/icons/white_arrow-up-right.svg");
}

.price-dev .price-dev__container .price-dev__list .price-dev__item .price-dev__btn:active {
  color: #FFFFFF;
  background-color: #4A415A;
  background-image: url("../images/icons/white_arrow-up-right.svg");
}

.price-dev .price-dev__container .price-dev__list .price-dev__item:nth-child(2) .price-dev__btn {
  color: #FFFFFF;
  background-color: #393246;
  background-image: url("../images/icons/white_arrow-up-right.svg");
}

.price-dev .price-dev__container .price-dev__list .price-dev__item:nth-child(2) .price-dev__btn:hover, .price-dev .price-dev__container .price-dev__list .price-dev__item:nth-child(2) .price-dev__btn.focus-visible {
  background-color: #4A415A;
}

.price-dev .price-dev__container .price-dev__list .price-dev__item:nth-child(2) .price-dev__btn:active {
  background-color: #63557C;
}

.price-dev .price-dev__container .price-dev__btn-more {
  position: relative;
  padding: 7px 40px 7px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #777777;
  border: none;
  background: none;
  -webkit-transition: color .4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: color .4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: color .4s ease-in-out, transform 0.4s ease-in-out;
  transition: color .4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.price-dev .price-dev__container .price-dev__btn-more::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.price-dev .price-dev__container .price-dev__btn-more::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #D5D5D5;
  background-image: url("../images/icons/arrow_down_gray.svg");
  background-position: right 50% top 50%;
  background-repeat: no-repeat;
  background-size: 7px 15px;
  -webkit-transition: border-color .4s ease-in-out;
  transition: border-color .4s ease-in-out;
}

.price-dev .price-dev__container .price-dev__btn-more.active {
  color: #393246;
}

.price-dev .price-dev__container .price-dev__btn-more.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.price-dev .price-dev__container .price-dev__btn-more:hover, .price-dev .price-dev__container .price-dev__btn-more.focus-visible {
  color: #393246;
}

.price-dev .price-dev__container .price-dev__btn-more:hover::after, .price-dev .price-dev__container .price-dev__btn-more.focus-visible::after {
  border-color: #393246;
}

.price-dev .price-dev__container .price-dev__btn-media {
  display: none;
  padding: 22px;
  width: 100%;
  border: 1px solid #393246;
}

.price-dev .price-dev__container .price-dev__btn-media::after {
  top: 15px;
  right: 27%;
  left: 67%;
}

.price-project__container {
  padding-top: 75px;
  padding-bottom: 130px;
  text-align: center;
}

.price-project__container .price-project__swiper {
  margin-bottom: 130px;
}

.price-project__container .price-project__swiper .swiper-wrapper {
  margin-bottom: 40px;
}

.price-project__container .price-project__swiper .swiper-wrapper .swiper-slide .price-project__img {
  max-height: 270px;
}

.price-project__container .price-project__swiper .swiper-button-next::after,
.price-project__container .price-project__swiper .swiper-button-prev::after {
  content: '';
}

.price-project__container .price-project__swiper .swiper-button-prev {
  top: 43%;
  left: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0.05);
  background-image: url("../images/icons/arrow_right_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: background-color .4s ease-in-out, background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out, background-color .4s ease-in-out;
}

.price-project__container .price-project__swiper .swiper-button-prev:hover, .price-project__container .price-project__swiper .swiper-button-prev.focus-visible {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
}

.price-project__container .price-project__swiper .swiper-button-next {
  top: 43%;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0.05);
  background-image: url("../images/icons/arrow_right_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: background-image .4s ease-in-out, background-color .4s ease-in-out;
  transition: background-image .4s ease-in-out, background-color .4s ease-in-out;
}

.price-project__container .price-project__swiper .swiper-button-next:hover, .price-project__container .price-project__swiper .swiper-button-next.focus-visible {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
}

.price-project__container .price-project__swiper .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-project__container .price-project__swiper .swiper-pagination-bullet {
  margin: 0;
  width: 158px;
  height: 1px;
  border: none;
  border-radius: 0;
  background-color: #D5D5D5;
  -webkit-transition: height .4s ease-in-out, background-color .4s ease-in-out;
  transition: height .4s ease-in-out, background-color .4s ease-in-out;
}

.price-project__container .price-project__swiper .swiper-pagination-bullet-active {
  height: 3px;
  background-color: #393246;
}

.contacts-hero__container {
  padding: 205px 15px 130px 15px;
}

.contacts-hero__container .contacts-hero__title {
  margin-bottom: 100px;
  text-align: center;
}

.contacts-hero__container .contacts-hero__subtitle {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
}

.contacts-hero__container .contacts-hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form {
  margin-right: 205px;
  max-width: 513px;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__text {
  margin-bottom: 27px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #777777;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__list .contacts-hero__item {
  position: relative;
  margin-bottom: 40px;
  padding-top: 15px;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__list .contacts-hero__item:last-child {
  margin-bottom: 44px;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__list .contacts-hero__item .contacts-hero__label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ADADAD;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__list .contacts-hero__item .contacts-hero__input {
  padding: 5px;
  padding-left: 0px;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid #777777;
  opacity: 1;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__list .contacts-hero__item .contacts-hero__input.focus-visible {
  border-bottom: 2px solid #393246;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__list .contacts-hero__item .contacts-hero__input.focus-visible ~ .contacts-hero__label {
  opacity: 1;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__input-add {
  height: auto;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  border: none;
  background-color: transparent;
  background-image: url("../images/icons/icon_Attach.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__send-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__send-box .contacts-hero__send-btn {
  margin-right: 30px;
  padding: 22px 57px;
  padding-right: 83px;
  height: auto;
  background-image: url("../images/icons/white_arrow-up-right.svg");
  background-position: right 57px center;
  background-repeat: no-repeat;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__send-box .contacts-hero__send-span {
  display: block;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #878787;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__send-box .contacts-hero__send-span .contacts-hero__send-link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #393246;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__wrap-form .contacts-hero__form .contacts-hero__send-box .contacts-hero__send-span .contacts-hero__send-link:hover {
  opacity: 0.8;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__box .contacts-hero__box-list {
  max-width: 241px;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__box .contacts-hero__box-list .contacts-hero__box-item {
  padding-left: 40px;
  background-position: left top;
  background-repeat: no-repeat;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__box .contacts-hero__box-list .contacts-hero__box-item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__box .contacts-hero__box-list .contacts-hero__box-item .contacts-hero__box-text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__box .contacts-hero__box-list .contacts-hero__box-item .box-link {
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__box .contacts-hero__box-list .box-phone {
  background-image: url("../images/icons/icon_phon-contacts.svg");
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__box .contacts-hero__box-list .box-mail {
  background-image: url("../images/icons/Icon_mail.svg");
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__box .contacts-hero__box-list .box-time {
  background-image: url("../images//icons/Icon_clock.svg");
}

.contacts-hero__container .contacts-hero__wrap .contacts-hero__box .contacts-hero__box-list .box-address {
  background-image: url("../images/icons/icon_location.svg");
}
/*# sourceMappingURL=style.css.map */