<div class="container header__container">
  <a class="btn__scroll" href="#"></a>
  <div class="header__logo">
    <a class="header__logo-link" href="index.html" tabindex="-1">
      <img class="header__logo-img" src="images/logo_white.png" alt="Логотип компании">
    </a>
    <a class="header__logo-link logo-visible" href="index.html" tabindex="-1">
      <img class="header__logo-img" src="images/logo_black.png" alt="логотип компании">
    </a>
  </div>
  <div class="header__burger burger">
    <span class="burger__span menu1"></span>
    <span class="burger__span menu2"></span>
    <span class="burger__span menu3" tabindex="0"></span>
  </div>
  <nav class="header__nav nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link active" href="portfolio.html">Портфолио</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#price">услуги и цены</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#contacts">контакты</a>
      </li>
    </ul>
  </nav>
  <div class="header__wrap">
    <a class="header__phone-hero" href="tel:+7 918 412-34-43">+7 918 412-34-43</a>
  </div>
</div>