<button class="portfolio__btn-applic btn">оставить заявку на проект</button>
<div class="portfolio__modal">
  <div class="portfolio__modal-content">
    <div class="menu__close" tabindex="0">
      <span class="menu__close-span close1"></span>
      <span class="menu__close-span close2"></span>
    </div>
    <p class="portfolio__modal-title">оставЬТЕ СВОИ КОНТАКТЫ. мЫ СВЯЖЕМСЯ С ВАМИ И ОБСУДИМ ВАШ ПРОЕКТ</p>
    <div class="portfolio__modal-wrap">
      <input class="portfolio__modal-input" type="text" placeholder="Ваше имя">
      <input class="portfolio__modal-input" type="text" placeholder="Ваш телефон">
    </div>
    <div class="portfolio__modal-box">
      <button class="portfolio__modal-btn btn btn-color">отправить</button>
      <span class="portfolio__modal-span">Нажимая на кнопку, я даю <a class="portfolio__modal-link" href="#">согласие на
          обработку персональных данных</a></span>
    </div>
  </div>
</div>