<div class="container portfolio__container">
  <h2 class="portfolio__title">Портфолио</h2>
  <ul class="portfolio__btns btns-list">
    <li class="btns-list__item">
      <button class="btns-list__btn all-elems">все работы
        <sup class="btns-list__num num-all"></sup>
      </button>
    </li>
    <li class="btns-list__item">
      <button class="btns-list__btn apart-elems">квартиры
        <sup class="btns-list__num num-appart"></sup>
      </button>
    </li>
    <li class="btns-list__item">
      <button class="btns-list__btn home-elems">дома
        <sup class="btns-list__num num-home"></sup>
      </button>
    </li>
    <li class="btns-list__item">
      <button class="btns-list__btn commerc-elems">коммерческие помещения
        <sup class="btns-list__num num-commerc"></sup>
      </button>
    </li>
  </ul>
  <ul class="portfolio__list">
    <li class="portfolio__item item1 apart">
      <img class="portfolio__img" src="images/portfolio/bath01.png" alt="ванная комната">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">loft</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item2 apart">
      <img class="portfolio__img" src="images/portfolio/bedroom1.png" alt="спальня">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">bedroom</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item3 home">
      <img class="portfolio__img" src="images/portfolio/dining1.png" alt="столовая">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item4 apart">
      <img class="portfolio__img" src="images/portfolio/dining2.png" alt="столовая">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item5 home">
      <img class="portfolio__img" src="images/portfolio/stears1.png" alt="лестница">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item6 home">
      <img class="portfolio__img" src="images/portfolio/living1.png" alt="столовая">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item7 apart">
      <img class="portfolio__img" src="images/portfolio/living2.png" alt="столовая">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item8 commerc">
      <img class="portfolio__img" src="images/portfolio/office1.png" alt="офис">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">office</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item9 apart">
      <img class="portfolio__img" src="images/portfolio/blcn1.png" alt="балкон">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item10 apart">
      <img class="portfolio__img" src="images/portfolio/living3.png" alt="столовая">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item11 apart">
      <img class="portfolio__img" src="images/portfolio/bath01.png" alt="ванная комната">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">bathroom</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item12 apart">
      <img class="portfolio__img" src="images/portfolio/bedroom1.png" alt="спальня">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item13 home">
      <img class="portfolio__img" src="images/portfolio/dining1.png" alt="столовая">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item14 apart">
      <img class="portfolio__img" src="images/portfolio/dining2.png" alt="столовая">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item15 home">
      <img class="portfolio__img" src="images/portfolio/stears1.png" alt="лестница">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item16 home">
      <img class="portfolio__img" src="images/portfolio/living1.png" alt="столовая">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
    <li class="portfolio__item item17 apart">
      <img class="portfolio__img" src="images/portfolio/living2.png" alt="столовая">
      <div class="portfolio__hover">
        <h3 class="portfolio__hover-subtitle">apartment</h3>
        <span class="portfolio__hover-info">Unique collection</span>
      </div>
    </li>
  </ul>
  <button class="portfolio__btn btn">показать еще работы</button>
  <div class="portfolio__application">
    <button class="portfolio__btn-applic btn">оставить заявку на проект</button>
    <div class="portfolio__modal">
      <div class="portfolio__modal-content">
        <div class="menu__close" tabindex="0">
          <span class="menu__close-span close1"></span>
          <span class="menu__close-span close2"></span>
        </div>
        <p class="portfolio__modal-title">оставЬТЕ СВОИ КОНТАКТЫ. мЫ СВЯЖЕМСЯ С ВАМИ И ОБСУДИМ ВАШ ПРОЕКТ</p>
        <div class="portfolio__modal-wrap">
          <input class="portfolio__modal-input" type="text" placeholder="Ваше имя">
          <input class="portfolio__modal-input" type="text" placeholder="Ваш телефон">
        </div>
        <div class="portfolio__modal-box">
          <button class="portfolio__modal-btn btn btn-color">отправить</button>
          <span class="portfolio__modal-span">Нажимая на кнопку, я даю <a class="portfolio__modal-link" href="#">согласие на обработку персональных данных</a></span>
        </div>
      </div>
    </div>
  </div>
</div>