<div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img class="price-project__img" src="./images/prices/realiz_project/project1.png" alt="Проект офиса">
            </li>
            <li class="swiper-slide">
              <img class="price-project__img" src="./images/prices/realiz_project/project2.png" alt="Проект офиса">
            </li>
            <li class="swiper-slide">
              <img class="price-project__img" src="./images/portfolio/bedroom1.png" alt="Проект офиса">
            </li>
            <li class="swiper-slide">
              <img class="price-project__img" src="./images/portfolio/stears1.png" alt="Проект офиса">
            </li>
            <li class="swiper-slide">
              <img class="price-project__img" src="./images/prices/realiz_project/project1.png" alt="Проект офиса">
            </li>
            <li class="swiper-slide">
              <img class="price-project__img" src="./images/prices/realiz_project/project1.png" alt="Проект офиса">
            </li>
            <li class="swiper-slide">
              <img class="price-project__img" src="./images/prices/realiz_project/project2.png" alt="Проект офиса">
            </li>
          </ul>
          <div class="swiper-pagination"></div>